.inventory-items__container {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 12px;
  padding: 20px;
  min-height: 550px;
  background: linear-gradient(
    107deg,
    #24252d -3.46%,
    rgba(36, 37, 45, 0.25) 107.53%
  );
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.inventory-items__projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.inventory-items__image {
  width: 560px;
  height: 560px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.inventory-items__itemLabelForInput {
  width: 100%;
  color: white;
}

.inventory-items__itemInputWithLabelTitle {
  padding-left: 5px;
}

.inventory-items__page {
  width: 30px;
  font-size: 18px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.inventory-items__pageActive {
  background-color: #f0f;
  color: #fff;
}

.inventory-items__pageNumberContainer {
	display: flex;
	justify-content: center;
}